.btn{
    margin-top: 25px;
    align-content: center;
}

.col-md-6{
    align-content: center;
}
.bi {
    width: 3em;
}

.col-md-4{
    align-content: center;
}

h1,h2,h3, .navbar-brand, .btn{
    font-family: 'Special Elite', cursive;
}

.row {
    padding-bottom: 50px;
}

@media only screen and (max-width: 500px) {


    h2 {
        padding-top: 50px;
    }
    .btn {
        background-color: teal !important;
    }

}